<div class="center">
  <br><br><br>
  <h3>
    ENTER YOUR API KEY
</h3>
<form method="post" action="/databykey">
  <div class="form-group">
    <br>
    <input type="text"  size="20"name="api" placeholder="enter api key">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
